<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.univesp.pi7sem2" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logotransp"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable"
                android:resource="@xml/searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity
            android:name=".Sobre"
            android:label="@string/sobre"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".Favoritos"
            android:label="@string/favoritos"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".Config"
            android:label="@string/config"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".Ajuda"
            android:label="@string/ajuda"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".Leia"
            android:label="@string/leia" >
        </activity>
        <activity
            android:name=".Resultado"
            android:label="@string/PI" >
        </activity>

        <service android:name=".BDRemota.DriveConect"/>
    </application>

</manifest>
